@import "mixin.scss";

*{
    padding: 0;
    margin: 0;
}


.nav{
    height: 7rem;
    align-items: center;
    justify-content: center;
}
.catalogo{
    @include display(flex, row, center, center);
    width: 100%;

    .card{
        justify-content: center;
        align-items: left;
        margin: 10px 10px 0px 10px;
    }
}

.table{
    width: 60%;
}