@import "mixin.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

*{
    padding: 0;
    margin: 0;
}

.nav{
    height: 7rem;
    align-items: center;
    justify-content: center;

    .nav-link{
        color: black;
    }

    .btnDarkMode{
        width: 5rem;
    }

}

main{
    padding: 2rem 5rem 5rem 5rem;

    .catalogo{
        @include display(flex, row, center, center);
        width: 100%;
        
        .card{
            justify-content: center;
            align-items: left;
            margin: 10px 10px 0px 10px;
        
        }
    }
    
    .carrito{
        @include display(flex, row, center, center);
    
        .table{
            background-color: #346751;
    
            td{
                justify-content: center;
                align-items: center;
                text-align: left;
                background-color: #346751;
    
                .img-thumbnail{
                    width: 10rem;
                }
            }
            
        }
        .containerBtn{
            @include display(flex, row, flex-end, center);
            
            .btnFinalizarCompra{
                width: 10rem;
                
            }
        }
        
        
    }
    
}
